.post-contents {
  width: 40vw;
  margin: 110px auto 50px;
}

.post-content {
  background-color: rgba(0, 0, 0, 0.664);
  margin-bottom: 10vh;
  border: 1px solid rgba(216, 216, 216, 0.753);
  border-radius: 6px;
}

.post-image {
  width: 180px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.post-info {
  display: inline-block;
  margin-left: 15px;
  position: absolute;
}

.post-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.title-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.title-link:hover {
  text-decoration: none;
  color: rgb(151, 151, 151);
}

.post-index-time {
  font-size: 11px;
  margin-top: 5px;
  color: white;
}

.post-spoiler-text {
  font-size: 11px;
  margin-left: 10px;
  color: white;
}

.post-favorite {
  margin-top: 15px;
  margin-bottom: 20px;
}

.post-favorite-text {
  color: white;
  margin-top: 10px;
}

.post-favorite-character {
  color: white;
  font-size: 12px;
}

.non-favorite-text {
  color: white;
  font-size: 12px;
}

.post-favorite-scene {
  color: white;
  font-size: 12px;
}

.post-user-name {
  margin-left: 140px;
}

.post-name-link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.post-name-link:hover {
  text-decoration: none;
  color: rgb(179, 179, 179);
}

.post-text {
  color: white;
  font-size: 13px;
}

.post-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.post-link {
  font-size: 14px;
  color: rgb(47, 172, 255);
  margin-left: 25px;
}

/* 投稿がないときの表示 */

.blank-index {
  margin: 50px auto ;
}

/* 投稿がないときの表示 */

.post-btn {
  width: 80px;
  height: 80px;
  background: white;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(77, 77, 77);
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.post-btn-text {
  display: block;
  font-size: 10px;
  text-decoration: none;
  margin-bottom: 5px;
  color: black;
}

.post-btn:hover {
  text-decoration: none;
}

.post-btn-icon {
  width: 50%;
}